.creative-circles>.content>.circle {
    border-radius: 50%;
    position: relative;

    width: 50px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: calc(var(--box-size) * 50%);
    left: calc(var(--box-size) * 50%);
    background: linear-gradient(red, red) padding-box,
        conic-gradient(white 0deg 90deg, black 100deg 240deg, white 250deg 360deg) border-box;
    border: 3px solid transparent;
    animation: rotateAnimation 4s linear infinite, changeSize 16s linear infinite;

    z-index: 2;
    cursor: url('delete-pointer.png'), not-allowed;
}

@keyframes changeSize {
    0% {
        top: 0;
        left: 0;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}